@tailwind base;
@tailwind components;
@tailwind utilities;

.text-smooth-appear {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.text-smooth-appear.active {
  opacity: 1;
  transform: translateY(0);
}

.hover\:shadow-hover:hover {
  box-shadow: 4px 4px 0 0 #64ffda
}





.rotate-icon {
  transition: transform 0.3s ease;
}

.rotate-icon.rotate-reverse {
  transform: rotate(-90deg);
}